@font-face {
    font-family: "San-Francisco";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/fonts/san_francisco-webfont.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/fonts/san_francisco-webfont.woff") format("woff");
  }