body{
    background-color: black;
    height: 2000px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 12px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(22px);
    z-index: 99999999999999;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

div{
    color: #ffffff;
    font-family: 'San-Francisco', sans-serif;
}
.container{
    max-width: 1440px;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-item{
    color: #ffffff;
    font-family: 'San-Francisco', sans-serif;
    margin-right: 39px;
    font-size: 18px;

}
.menu-item:hover{
    color:#aeaeae;
    text-decoration: none;
}
.main-block{
    width: 425px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 20px;
    backdrop-filter: blur(20px);
    margin: 0;
}
.logo{
    color: #ffffff;
    font-family: 'San-Francisco', sans-serif;
    font-size: 25px;
}
.logo:hover{
    color:#aeaeae;
    text-decoration: none;
}
.title{
    font-family: 'San-Francisco', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}
.title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    animation: blinking 1s infinite;
  }
  
  @keyframes blinking {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
#backgroundVideo {
    position: fixed;
    top: 0;
    right: 4%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
        }

.contact{
  display: flex;
  flex-direction: row;
}
.contact__title{
    font-size: 74px;
}
.contact__subtitle{
  font-size: 28px;
  width: 50%;
}
.contact__mail{
  display: flex;
  flex-direction: row;
}
.contact__mail div{
  margin: 20px 45px 0 0;
}
.contact__mail div h3{
  font-size: 22px;
  color: #aeaeae;
  font-weight: 300;
}
.contact__mail div a{
  font-size: 28px;
  color: #ffffff;
  font-weight: 300;
}