@font-face {
  font-family: "San Francisco";
  src: url("../fonts/sf-ui-display-regular.ttf");
}

* {
  font-family: "San Francisco";
}

body {
  background-color: black;
  height: 2000px;
  cursor: url("../images/AllAssets/circleCursor.png"), auto;
}

a, button {
  cursor: url("../images/AllAssets/2circleCursor.png "), auto;
}
button:hover {
  cursor: url("../images/AllAssets/2circleCursor.png "), auto;
}

::selection {
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.24);
  color:#ff92e4;
}

.page-transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: blurBGloade .26s ease-in-out forwards;
  color: #ffffff;
}
.maskLogo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .77;
  font-size: 30px;
}

@keyframes blurBGloade {
  0% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: #00000000;

  }
  /* 80% {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #00000080;

  } */
  100% {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: #000000;

  }
}
.mask {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 9999999999999;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 6px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  z-index: 99999;
  overflow: hidden;
}
.main-about{
  padding-bottom: 80px;
}
.main-about__text{
  max-width: 632px;
  font-size: 28px;
  margin-bottom: 30px;
}
.opened {
  animation: openHeader .32s ease-in-out forwards;
  height: 100%;
  /* Конечная высота после открытия */
}

@keyframes openHeader {
  0% {
    height: 50px;
    /* Начальная высота при открытии */
  }

  100% {
    height: 100%;
    /* Конечная высота при открытии */
  }
}

.closed {
  animation: closeHeader .32s ease-in-out forwards;
  height: 50px;
  /* Конечная высота после закрытия */
}

@keyframes closeHeader {
  0% {
    height: 100%;
    /* Начальная высота при закрытии */
  }

  100% {
    height: 50px;
    /* Конечная высота при закрытии */
  }
}

@media (max-width: 950px) {
  header {
    padding: 5px 20px;
  }
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
@media (max-width: 900px) {
  .menu {
    width: 40px;
  }
  .menu img {
    margin-left: 20px;
  }
}


.vertical-menu {
  position: absolute;
  list-style-type: none;
  /* Убираем маркеры списка */
  padding: 0;
  /* Убираем отступы */
  margin: 0;
  /* Убираем отступы */
  margin-top: 100px;
  opacity: 0;
  /* display: flex; */
  /* display: none; */
  flex-direction: column;
  /* Делаем элементы списка вертикальными */
  align-items: flex-start;
  /* Выравниваем элементы по левому краю */
}

.menuIsOpen {
  display: flex;
  opacity: 0;
  animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menuIsClose {
  opacity: 1;
  animation: fadeOut .5s ease-in-out forwards;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.menu-burger,
.menu-close {
  animation: fadeIn .44s ease-in-out forwards;

}


.vertical-menu li {
  margin: 10px 0;
  /* Добавляем вертикальные отступы между элементами */
}

.vertical-menu-item {
  text-decoration: none;
  /* Убираем подчеркивание ссылок */
  color: #ffffff;
  /* Цвет текста */
  font-size: 28px;
  /* Размер текста */
  padding: 10px 20px;
  /* Внутренние отступы */
  border-radius: 5px;
  /* Сглаживание углов */
}

.vertical-menu-item:hover {
  color: #7e7e7e;
  /* Цвет текста при наведении */
  text-decoration: none;
  /* Убираем подчеркивание ссылок */
  transition: color .3s;
}

.viewSerBut {
  color: #ffffffb7;
}

.viewSerBut:hover {
  transition: .33s;
  color: aliceblue;
  text-decoration: none;
}

div {
  color: #ffffff;
}

.about__title {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  font-weight: 300;
}

.about_why_sakura {
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  flex-wrap: wrap;

  color: #ffffff;
  border-radius: 35px;
  background-color: rgba(31, 31, 31, 0.103);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border: solid 1px  rgba(255, 255, 255, 0.233);
  overflow: hidden;
}
.sakuratreeIMG {
  margin: auto;
}
.about_sakura_title {
  font-weight: 200;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 1000px) {

}

.container {
  max-width: 1440px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-item {
  color: #ffffff;
  margin-right: 39px;
  font-size: 18px;

}

.menu-item:hover {
  color: #aeaeae;
  text-decoration: none;
}

.main-block {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 35px;
  padding: 26px;
  margin: 0;
}
.main-block-fadeIn {
  animation: fadeBlur 0.57s ease-in-out forwards;
}

@keyframes fadeBlur {
  0% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.103);
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
  }
}

.logo {
  color: #ffffff;
  font-size: 25px;
}

.logo:hover {
  color: #aeaeae;
  text-decoration: none;
  transition: color .44s;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
}

.mainTitle {
  text-align: start;
}

.scrollArrowCont {
  position: absolute;
  margin-top: 600px;
  transform: translateX(-50%);
  left: 50%;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s 3.3s ease-in-out forwards;
}
.scrollArrowCont.onServices {
  margin-top: 70px;
  animation: fadeIn 0.77s 1s ease-in-out forwards;

}

.scrollArrowCont h3 {
  font-weight: 300;
}

.TextFadeOut {
  animation: fadeOut 2s ease-in-out forwards;

}

.DownArrow {
  position: absolute;
  max-width: 17px;
  animation: UpAndDown 2s infinite;
  margin-top: 0px;
  margin-left: -9px;
}

@keyframes UpAndDown {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 12px;
  }

  100% {
    margin-top: 0px;
  }
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

#backgroundVideo {
  position: fixed;
  top: 0;
  right: -4%;
  /* width: 50%; */
  height: 100%;
  object-fit: fit;
  z-index: -1;
}

#BGVideoInContact {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  /* animation: fadeIn 1s ease-in-out forwards;
  opacity: 0; */
}

#StaticBackgroundVideo {
  position: fixed;
  top: 0;
  right: 50%;
  width: 1000px;
  transform: scale(-1, 1);
  /* height: 100%; */
  object-fit: fit;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1s 1s ease-in-out forwards;
}

#BGVideoInAbout {
  position: fixed;
  top: 0;
  width: 180%;
  max-width: 900px;
  /* height: 100%; */
  object-fit: fit;
  z-index: -1;
}

#BGVideoInAbout02 {
  position: fixed;
  top: 0;
  width: 180%;
  max-width: 900px;
  /* height: 100%; */
  object-fit: fit;
  z-index: -1;
}
@media (max-width: 600px) {
  #backgroundVideo {
    height: 900px;
    right: -70%;
  }
  #StaticBackgroundVideo {
    top: 150px;
    right: -40%;
    /* width: 100%; */
    height: 80%;
  }
}

@media (max-width: 400px) {
  #StaticBackgroundVideo {
    top: 150px;
    right: -55%;
    /* width: 100%; */
    height: 80%;
  }
}

@media (min-width: 600px) and (max-width: 770px) {
  #StaticBackgroundVideo {
    top: 150px;
    right: -10%;
    /* width: 100%; */
    height: 80%;
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
  #StaticBackgroundVideo {
    top: 150px;
    right: 17%;
    /* width: 100%; */
    height: 80%;
  }
}

/* --------------------------------------Start ShortInfoBlock------------------------------------- */
.shortInfoBlock {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.textForInfolist {
  order: 2;
}

.accordion {
  order: 1;
}

.ArrowCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .content-container {
      flex-direction: column;
  }

  .textForInfolist {
      order: 1;
  }

  .accordion {
      order: 2;
  }

}

@media (min-width: 1300px) {
  .shortInfoBlock .ArrowCont {
    display: none;
  }
}

.accordion {
  width: 100%;
  max-width: 600px;
  /* margin: 0 auto; */
  margin: auto;
  margin-top: 50px;
}
@media (max-width: 770px) {
  .accordion {
  margin: 0 auto;
  margin-top: 50px;

  }
}
.accordion-item {
  margin: 10px 0 10px 0;

}
.shortInfoBlock {
  padding: 30px;
}

.textForInfolist {
  height: min-content;
  padding: 25px;
  max-width: 600px;
  text-align: start;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 130px;

  background-color: rgba(0, 0, 0, 0.103);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.144);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 35px;
  border: solid 1px #ffffff2d;

}

.accordingBlock_title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
}

.accordingBlock_text {
  color: #ffffff;
  font-size: 25px;

}


.accordion-item button {
  width: 100%;
  padding: 30px;
  padding-top: 12px;

  text-align: left;
  outline: none;
  font-size: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 60px; /* начальная высота кнопки */
  position: relative;
  border-radius: 20px;

  background-color: #20202000;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
  border: solid 1px #ffffff2d;

}

.accordion-item_name {
  font-size: 24px;
}

.accordion-item button.active {
  max-height: 550px; /* высота кнопки при раскрытии */
  border-radius: 30px;
  margin-bottom: 5px;
}

.accordion-item button:hover {
  background-color: #2b2b2b79;
}

.accordion-item button:after {
  /* content: '\002B';  */
  content: '|'; 
  font-size: 18px;
  position: absolute;
  right: 25px;
  top: 27px;
  transform: translateY(-50%) ;
  transition: transform 0.3s ease;
}

.accordion-item button.active:after {
  content: '|'; 
  transform: translateY(-50%) rotate(-90deg); /* анимация переворота */
  top: 27px;

}

.accordion-item .accordion-item_text {
  opacity: 0;
  max-height: 0;
  max-width: 98%;
  transition: opacity .3s ease, max-height 0.3s ease;
  overflow: hidden;
}

.accordion-item button.active .accordion-item_text {
  opacity: 1;
  max-height: 500px; /* Задайте максимальную высоту для содержимого текста */
}
/* --------------------------------------END ShortInfoBlock------------------------------------- */




.contact {
  display: flex;
  flex-direction: row;
}

/* .contact__block {
  background-color: #1616167c;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
} */

.contact__block {
  /* background-image: url("../images/AllAssets/sakuraBGimg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 35px;
  border: solid 1px  #ffffff27;
  
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

}

.contact__title {
  font-size: 74px;
}

.contact__subtitle {
  font-size: 28px;
  width: 50%;
}

.contact__mail {
  display: flex;
  flex-direction: row;
  flex: 1 1 40%
}

.contact__mail div {
  margin: 20px 45px 0 0;
}

.contact__mail div h3 {
  font-size: 22px;
  color: #aeaeae;
  font-weight: 300;
}

.contact__mail div a {
  font-size: 28px;
  color: #ffffff;
  font-weight: 300;
}

.contact__mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.contact__mail-client,
.contact__mail_job {
  flex: 1;
  min-width: 200px; /* Ensure some minimum width for each item */
}


/* Responsive Design */
@media (max-width: 768px) {
  .contact__mail {
      flex-direction: column;
      align-items: flex-start;
  }

  .contact__mail-client,
  .contact__mail_job {
      width: 100%;
  }
}


/* ---------------------------------START: portfolio block------------------------------------------ */
.portfolio {
  margin-top: 200px;
}

.title.portfolio_title {
  font-size: 38px;
}

.portfolio_title {
  width: 100%;
  text-align: center;
}

hr {
  opacity: 0.6;
  height: 1.4px;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.portfolio__block {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Позволяет блокам переноситься на следующую строку */
  gap: 45px;
  /* Отступы между блоками */
  max-width: 1200px;
}

@media (min-width: 1450px) {
  .portfolio__block {
    margin-left: 0;
    margin-right: 0;
    justify-content: left;
  }
}

.portfolio__item, .portfolio__banners {
  background-color: #3d3d3d7c;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
  padding: 20px;
  text-align: center;
  flex: 1 1 40%;
  /* Блоки будут занимать по 30% ширины и переноситься на новую строку при необходимости */
  max-width: 440px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  /* Выравнивание по горизонтали */
  align-items: center;
  /* Выравнивание по вертикали */
  overflow: hidden;
  border: solid 1px hsla(0, 0%, 100%, 0.164);
}

.portfolio__item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 35px;
  /* opacity: 0; */
}

/* .portfolio__item.item_1::after {
  background-image: url("../images/pulltailVIDEO.mp4");
  background-size: cover;
}

.portfolio__item.item_2::after {
  background-image: url("../images/BundleBornAnim.gif");
  background-size: cover;
}

.portfolio__item.item_3::after {
  background-image: url("../images/PullTailAnim.gif");
  background-size: cover;
}

.portfolio__item.item_4::after {
  background-image: url("../images/PullTailAnim.gif");
  background-size: cover;
}

.portfolio__item.item_5::after {
  background-image: url("../images/PullTailAnim.gif");
  background-size: cover;
}

.portfolio__item.item_6::after {
  background-image: url("../images/PullTailAnim.gif");
  background-size: cover;
} */

.item_1{
  margin-bottom: 15px;
}

.videoBGportfolio {
  position: absolute;
  /* max-width: 100%; */
  border-radius: 35px;
  opacity: 0;
  height: 100%;
}

.videoBGportfolio.needBig {
  height: 102%;
}

@media (min-width: 900px) {
  .portfolio__item:hover:after {
    height: 100%;
    opacity: 1;
    z-index: 1;
  }

  .portfolio__item:hover .videoBGportfolio {
    transition: opacity 0.3s 0.1s;
    opacity: 1;
    z-index: 2;
  }
  .portfolio__item:hover .portfolio_item_img {
    animation: fadeOut .43s 3s ease-in-out forwards;
  }
}
.activated:after {
  height: 100%;
  opacity: 1;
  z-index: 3;
}


/* .fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: white;
  z-index: -1;
  transition: 1.3s ease;
  border-radius: 35px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_item_video {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio__item:hover .fill {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.portfolio__item:hover .portfolio_item_video {
  opacity: 1;
} */
/* 
.portfolio__item:hover {
  background-color: #ffffffcc;
  transition: .52s;
} */

.portfolio_item_img {
  max-width: 85%;
  max-height: 240px;
  z-index: 4;
}

/* .portfolio__item.item_5 .portfolio_item_img {
  z-index: -1;
} */

/* Адаптивность */
@media (max-width: 700px) {
  .portfolio__block {
    gap: 20px;
  }

  .portfolio__item {
    max-width: 400px;
    height: 280px;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .portfolio__item {
    flex: 1 1 100%;
    /* На маленьких экранах блоки будут занимать всю ширину */
  }
}

@media (max-width: 400px) {
  .portfolio__item {
    max-width: 330px;
    height: 230px;
  }
}

.title.portfolio_outTitle {
  color: #ffffff;
  font-size: 35px;
}


.portfolio__item.hover:after {
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.portfolio__item.hover .videoBGportfolio {
  transition: opacity 2.5s;
  opacity: 1;
  z-index: 2;
}


/* ---------------------------------END: portfolio block------------------------------------------ */
/* ---------------------------------START: about block------------------------------------------ */
.about__block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__block-nmb{
  font-size: 120px;
}
.about__block-title{
  font-size: 22px;
}
.about__block-item{
  margin: 0 40px 25px 0;
}
.story-text{
  font-size: 28px;
  max-width: 632px;
  margin: 169px 0;
}
.why-title {
  font-size: 52px;
  margin-bottom: 120px;
}
.why__block-nmb{
  font-size: 52px;
  margin-bottom: 28px;
}
.why__block-title{
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
.why-container{
  max-width: 67%;
  font-size: 22px;
}
.why__block{
  margin-bottom: 120px;
}
.team_title {
  font-size: 52px;
  margin-bottom: 20px;
}
.team_intro {
  font-size: 22px;
}
.team_cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}
.team_card {
  max-width: 400px;
  height: 600px;
  background-color: #2424247c;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
  padding: 20px;
  text-align: center;
  flex: 1 1 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  border: solid 1px  #ffffff33;

}
.team_card img {
  height: auto;
  max-height: 50%;
  border-radius: 25px;
}
.team_card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.team_card h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #b0b0b0;
}
.team_card p {
  font-size: 16px;
  margin-bottom: 10px;
}
.hr_inCards {
  margin-top: 0px;
  opacity: 0.3;
}
.teamcard_name {
  color: #ffffff;
}
.RoleName {
  opacity: .44;
  padding-right: 10px;
}
.teamcard_info {
  text-align: start;
  opacity: .8 ;
}
@media (max-width: 870px) {
  .team_card {
    height: min-content;
    min-height: 400px;
  }
  .team_card img {
    max-height: 260px;
  }
  .team_cards {
    gap: 30px;
  }
}
/* ---------------------------------END: about block------------------------------------------ */

/* ---------------------------------START: section block------------------------------------------ */
.services__title{
  /* font-weight: 300; */
  font-size: 70px;
  text-align: center;
}
.services__subtitle{
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  max-width: 90%;
  margin: auto;
}
.services__item__title{
  font-size: 52px;
  margin-bottom: 20px;
}
.services__item__subtitle{
  font-size: 22px;
  margin-bottom: 50px;
}
.services__item__services{
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}
.services__item{
  height: 100vh;

}
/* 
.services__item.section {
    background-color: #24242400;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
} */

.services__item__block{
  width: 50%;
}
.blurbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #24242400;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  opacity: 0;
}
.blurbg_In {
  animation: fadeIn  0.33s ease-in-out forwards;
}
.blurbg_Out {
  animation: fadeOut  0.33s ease-in-out forwards;

}

.container.sevices_item_container {
  display: flex;
  flex-direction: row;
}
.services__item__illustration {
  margin: auto;
}
.services__item__illustration img {
  z-index: -1;
  max-width: 430px;
}

@media (max-width: 730px){
  .container.sevices_item_container {
    display: flex;
    flex-direction: column;
  }
  .services__item__illustration img {
    position: absolute;
    max-width: 83%;
    margin-top: -170px;
    margin-left: 2%;
  }
}

@media (max-width: 1400px){
  .about__block-nmb {
    font-size: 100px;
}
}
@media (max-width: 1200px){
  #about{
    padding-top: 350px;
  }
  .about__block-nmb {
    font-size: 65px;
}
}
@media (max-width: 630px){
  .services__item__block{
    width: 90%;
  }
  .services__title{
    /* font-weight: 300; */
    font-size: 50px;
    text-align: center;
    margin-top: -15px;
  }
}
.mainSection {
  background-color: #20202000;
}
#fp-nav {
  background-color: #ffffff00;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 35px;
  /* border: solid 1px #ffffff41; */

}
.fp-watermark {
  display: none;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background: rgba(255, 255, 255, 0.678);
}


/* ---------------------------------END: section block------------------------------------------ */
/* ---------------------------------START: portfolio block------------------------------------------ */
#portfolio{
  align-items: flex-start;
  padding-top: 80px;
}

.portfolio__title{
  text-align: center;
  font-size: 42px;
  margin-bottom: 35px;
}
.portfolio-menu {
  margin-bottom: 20px;
}

.tabs {
  list-style-type: none;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  padding: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(30px);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff;
  position: relative;
  background-color: #2424247c;
  backdrop-filter: blur(30px);
  border-radius: 22px;
  margin: 10px;
  line-height: 17px;

  display: inline-block;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;
}
.tab:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  border-radius: 10rem;
  z-index: -2;
}
.tab:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #af384e;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.tab:hover {
  /* background-color: #007BFF; */
  color: #ffffff;
}
.tab:hover:before {
  width: 100%;
}

.tab.active{
  background-color: #af384e;
}

.content {
  display: none;
  padding: 20px;
}

.content.active {
  display: block;
  width: 100%;
}
/* .prtf{
  max-width: 60%;
  height: 608.72px;
} */
.onPortfolio__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.onPortfolio {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.portfolio__banners {
  padding: 0;
  height: fit-content;
} 

@media (max-width: 710px) {
.portfolio__banners {
  padding: 0;
  height: auto;
} 
}
.portfolio__banners img {
  max-width: 100%;
  border-radius: 35px;
}
.portfolio__banners video {
  max-width: 100%;
  border-radius: 35px;
}
/* ---------------------------------END: portfolio block------------------------------------------ */
/* ---------------------------------START: jma block------------------------------------------ */
.jma{
  padding: 50px;
}
.jma__title{
  text-align: center;
  font-size: 61px;
}
.jma__subtitle{
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.jma-image{
  display: flex;
  justify-content: center;
  margin: 70px auto;
}
.jma-image img{
  width: 70%;
}
.jma-text__title{
  font-size: 42px;
}
.jma-text__subtitle{
  margin: 12px 0;
  font-size: 18px;
}
.jma-text__subtitle span{
  font-weight: 600;
  letter-spacing: 2px;
}
/* ---------------------------------END: jma block------------------------------------------ */